{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.template.html' %}
<body>
{% include 'header.template.html' %}
{% include 'sidebar.template.html' %}

<main class="main" id="main">
    {% include 'breadcrumb.template.html' %}
    <section class="section dashboard">
        <div class="col-lg-12 alert alert-primary alert-dismissible fade show" role="">
            System Metrics
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <!-- Total Subscriptions -->
                    <div class="col-xxl-12 col-md-12">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Total Users</h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-person"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{total_users}}</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Users Card -->

                    <!-- Total Users -->
                    <div class="col-xxl-12 col-md-12">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Total Books</h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-book"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{total_books}}</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Users Card -->
                </div>
            </div>
            <div class="col-lg-8">
                <!-- Recent Activity -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Recent Activity</h5>
                        <div class="activity" style="overflow: scroll;max-height:260px">
                            {% for activity in activities %}
                                <div class="activity-item d-flex">
                                    <div class="activite-label">{{activity.timestamp}}</div>
                                    <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                                    <div class="activity-content">
                                        {{activity.activity_type}}
                                        <a class="fw-bold text-dark" href="#">
                                            {% if activity.description %}
                                                {{ activity.description }} {{activity.actor.username}}
                                            {% else %}
                                                {{ activity.actor.username }}
                                            {% endif %}
                                        </a>
                                    </div>
                                </div><!-- End activity item-->
                            {% endfor %}
<!--                            <div class="activity-item d-flex">-->
<!--                                <div class="activite-label">56 min</div>-->
<!--                                <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>-->
<!--                                <div class="activity-content">-->
<!--                                    User XYZ has subscribed to premium plan-->
<!--                                </div>-->
<!--                            </div>&lt;!&ndash; End activity item&ndash;&gt;-->

<!--                            <div class="activity-item d-flex">-->
<!--                                <div class="activite-label">2 hrs</div>-->
<!--                                <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>-->
<!--                                <div class="activity-content">-->
<!--                                    New User signup: ABC-->
<!--                                </div>-->
<!--                            </div>&lt;!&ndash; End activity item&ndash;&gt;-->

<!--                            <div class="activity-item d-flex">-->
<!--                                <div class="activite-label">1 day</div>-->
<!--                                <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>-->
<!--                                <div class="activity-content">-->
<!--                                    New User signup: Sanjay Rajpurohit-->
<!--                                </div>-->
<!--                            </div>&lt;!&ndash; End activity item&ndash;&gt;-->


                        </div>

                    </div>
                </div><!-- End Recent Activity -->
            </div>
        </div>
        <div class="col-lg-12 alert alert-primary alert-dismissible fade show" role="">
            Book Catalog Metrics
        </div>
        <div class="row">
            <!-- Top Books -->
            <div class="col-12">
                <div class="card top-selling overflow-auto">
                    <div class="card-body pb-0">
                        <h5 class="card-title">Trending</h5>
                        <table class="table table-borderless">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Title</th>
                                <th scope="col">Author</th>
                                <th scope="col">Publication</th>
                                <th scope="col">Views</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for book in top_10_books %}
                                <tr>
                                    <th scope="row">
                                        <a href="{% url 'book-details' 12 %}">
                                            {% if book.book.thumbnail_exists  %}
                                                <img height="60px" width="60px" alt="A generic square placeholder image with rounded corners in a figure."
                                                 class="figure-img img-fluid rounded"
                                                 src="{{MEDIA_URL}}{{book.book.isbn_no}}/thumbnail.png">
                                            {% else %}
                                                <img height="60px" width="60px" alt="A generic square placeholder image with rounded corners in a figure."
                                                 class="figure-img img-fluid rounded"
                                                 src="{% static 'img/default_book_thumbnail.png' %}">
                                            {% endif %}
                                        </a>
                                    </th>
                                    <td><a href="{% url 'book-details' book.book.isbn_no %}">{{book.book.title}}</a></td>
                                    <td>{{book.book.author.name}}</td>
                                    <td class="fw-bold">{{book.book.publisher.name}}</td>
                                    <td>{{book.total}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- End Top Books -->
        </div>
<!--        <div class="row">-->
<!--            <div class="col-lg-6">-->
<!--                <div class="card">-->
<!--                <div class="card-body pb-0">-->
<!--                    <h5 class="card-title">Top trends(by Genre)</h5>-->
<!--                    <div class="echart" id="top50ByGenre" style="min-height: 400px;"></div>-->
<!--                    <script>-->
<!--                        document.addEventListener("DOMContentLoaded", () => {-->
<!--                          echarts.init(document.querySelector("#top50ByGenre")).setOption({-->
<!--                            tooltip: {-->
<!--                              trigger: 'item'-->
<!--                            },-->
<!--                            legend: {-->
<!--                              top: '5%',-->
<!--                              left: 'center'-->
<!--                            },-->
<!--                            series: [{-->
<!--                              name: 'Access From',-->
<!--                              type: 'pie',-->
<!--                              radius: ['40%', '70%'],-->
<!--                              avoidLabelOverlap: false,-->
<!--                              label: {-->
<!--                                show: false,-->
<!--                                position: 'center'-->
<!--                              },-->
<!--                              emphasis: {-->
<!--                                label: {-->
<!--                                  show: true,-->
<!--                                  fontSize: '18',-->
<!--                                  fontWeight: 'bold'-->
<!--                                }-->
<!--                              },-->
<!--                              labelLine: {-->
<!--                                show: false-->
<!--                              },-->
<!--                              data: [{-->
<!--                                  value: 1048,-->
<!--                                  name: 'Search Engine'-->
<!--                                },-->
<!--                                {-->
<!--                                  value: 735,-->
<!--                                  name: 'Direct'-->
<!--                                },-->
<!--                                {-->
<!--                                  value: 580,-->
<!--                                  name: 'Email'-->
<!--                                },-->
<!--                                {-->
<!--                                  value: 484,-->
<!--                                  name: 'Union Ads'-->
<!--                                },-->
<!--                                {-->
<!--                                  value: 300,-->
<!--                                  name: 'Video Ads'-->
<!--                                }-->
<!--                              ]-->
<!--                            }]-->
<!--                          });-->
<!--                        });-->
<!--                    </script>-->
<!--                </div>-->
<!--            </div>&lt;!&ndash; End Website Traffic &ndash;&gt;-->
<!--            </div>-->
<!--            <div class="col-lg-6">-->
<!--                <div class="card">-->
<!--                <div class="card-body pb-0">-->
<!--                    <h5 class="card-title">Top 50 trends(by Language)</span></h5>-->

<!--                    <div class="echart" id="top50ByLanguage" style="min-height: 400px;"></div>-->

<!--                    <script>-->
<!--                        document.addEventListener("DOMContentLoaded", () => {-->
<!--                          echarts.init(document.querySelector("#top50ByLanguage")).setOption({-->
<!--                            tooltip: {-->
<!--                              trigger: 'item'-->
<!--                            },-->
<!--                            legend: {-->
<!--                              top: '5%',-->
<!--                              left: 'center'-->
<!--                            },-->
<!--                            series: [{-->
<!--                              name: 'Access From',-->
<!--                              type: 'pie',-->
<!--                              radius: ['40%', '70%'],-->
<!--                              avoidLabelOverlap: false,-->
<!--                              label: {-->
<!--                                show: false,-->
<!--                                position: 'center'-->
<!--                              },-->
<!--                              emphasis: {-->
<!--                                label: {-->
<!--                                  show: true,-->
<!--                                  fontSize: '18',-->
<!--                                  fontWeight: 'bold'-->
<!--                                }-->
<!--                              },-->
<!--                              labelLine: {-->
<!--                                show: false-->
<!--                              },-->
<!--                              data: [{-->
<!--                                  value: 1048,-->
<!--                                  name: 'Search Engine'-->
<!--                                },-->
<!--                                {-->
<!--                                  value: 735,-->
<!--                                  name: 'Direct'-->
<!--                                },-->
<!--                                {-->
<!--                                  value: 580,-->
<!--                                  name: 'Email'-->
<!--                                },-->
<!--                                {-->
<!--                                  value: 484,-->
<!--                                  name: 'Union Ads'-->
<!--                                },-->
<!--                                {-->
<!--                                  value: 300,-->
<!--                                  name: 'Video Ads'-->
<!--                                }-->
<!--                              ]-->
<!--                            }]-->
<!--                          });-->
<!--                        });-->
<!--                    </script>-->

<!--                </div>-->
<!--            </div>&lt;!&ndash; End Website Traffic &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
    </section>
</main>

{% include 'footer.template.html' %}
{% include 'js.template.html' %}

</body>
</html>