{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.template.html' %}
<body>
{% include 'header.template.html' %}
{% include 'sidebar.template.html' %}

<main class="main" id="main">
    {% include 'breadcrumb.template.html' %}
    <section class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <figure class="figure">
                    {% if book.thumbnail_exists  %}
                        <img alt="A generic square placeholder image with rounded corners in a figure."
                         class="img-preview figure-img img-fluid rounded"
                         src="{{MEDIA_URL}}{{book.isbn_no}}/thumbnail.png">
                    {% else %}
                        <img alt="A generic square placeholder image with rounded corners in a figure."
                         class="img-preview figure-img img-fluid rounded"
                         src="{% static 'img/default_book_thumbnail.png' %}">
                    {% endif %}
                </figure>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="row">
                    <h2><b>{{book.title}}</b></h2>
                </div>
                <div class="row" style="text-align:right">
                    <h4>By <i>{{book.author.name}}</i></h4>
                </div>
                </br>
                <div class="row">
                    <p><b>Publication:</b> <i>{{book.publisher.name}}</i></p>
                </div>
                <div class="row">
                    <p><b>Date Published:</b> <i>{{book.publication_date}}</i></p>
                </div>
                <div class="row">
                    <p><b>ISBN Number:</b> <i>{{book.isbn_no}}</i></p>
                </div>
                <div class="row">
                    <p><b>Language: </b><i>{{book.language.name}}</i></p>
                </div>
                <div class="row">
                    <p>
                        <b>Genres: </b>
                        <span class="badge bg-primary">{{book.genre.name}}</span>
                    </p>
                </div>
                <div class="row">
                    <p><b>Pages: </b><i>{{book.page_count}}</i></p>
                </div>
                </br>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="{% url 'book-preview' book.isbn_no %}" class="btn btn-primary">Preview</a>
                        {% if user.is_superuser %}
                            <a href="{% url 'book-edit' book.isbn_no %}" class="btn btn-primary">Edit</a>
                            <form style="display: inline" method="post" action="{% url 'book-delete' book.isbn_no %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger">
                                    Delete
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% include 'footer.template.html' %}
{% include 'js.template.html' %}

</body>
</html>