{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.template.html' %}
<body>
{% include 'header.template.html' %}
{% include 'sidebar.template.html' %}

<main class="main" id="main">
    {% include 'breadcrumb.template.html' %}
    <section class="section">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 ">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Add new book</h5>

                        <!-- General Form Elements -->
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="isbn-number">ISBN Number</label>
                                <div class="col-sm-10">
                                    <input required id="isbn-number" name="isbn-number" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="title">Title</label>
                                <div class="col-sm-10">
                                    <input required id="title" name="title" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="author">Author</label>
                                <div class="col-sm-10">
                                    <select required id="author" name="author" aria-label="Default select example" class="form-select">
                                        {% for author in authors %}
                                            <option value="{{author.id}}">{{author.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="language">Language</label>
                                <div class="col-sm-10">
                                    <select required id="language" name="language" aria-label="Default select example" class="form-select">
                                        {% for language in languages %}
                                            <option value="{{language.id}}">{{language.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="genre">Genre</label>
                                <div class="col-sm-10">
                                    <select required id="genre" name="genre" aria-label="multiple select example" class="form-select" multiple>
                                        {% for genre_obj in genres %}
                                            {% if genre_obj.name == genre %}
                                                <option value="{{genre_obj.id}}" selected>{{genre_obj.name}}</option>
                                            {% else %}
                                                <option value="{{genre_obj.id}}">{{genre_obj.name}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="publisher">Publisher</label>
                                <div class="col-sm-10">
                                    <select required id="publisher" name="publisher" aria-label="Default select example" class="form-select">
                                        {% for publisher in publishers %}
                                            <option value="{{publisher.id}}">{{publisher.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="publicationDate">Publication Date</label>
                                <div class="col-sm-10">
                                    <input required class="form-control" id="publicationDate" name="publicationDate" type="date">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="pdf">PDF</label>
                                <div class="col-sm-10">
                                    <input required class="form-control" id="pdf" name="pdf" type="file">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="submit"></label>
                                <div class="col-sm-10">
                                    <button id="submit" class="btn btn-primary" type="submit">Add book</button>
                                    <button id="reset" class="btn btn-primary" type="reset">Reset</button>
                                </div>
                            </div>

                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

{% include 'footer.template.html' %}
{% include 'js.template.html' %}

</body>
</html>