{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.template.html' %}
<body>
{% include 'header.template.html' %}
{% include 'sidebar.template.html' %}

<main class="main" id="main">
    {% include 'breadcrumb.template.html' %}
    <section class="section">
        {% for genre in genres %}
            <form method="get" action="{% url 'book-add' %}" class="alert alert-primary alert-dismissible fade show" role="">
            {{genre.name}}
            <input type="hidden" name="genre" value="{{genre.name}}" />
            {% if user.is_superuser %}
                <button style="float: right">Add new</button>
            {% endif %}
        </form>
        <div class="row">
            {% for book in genre.book_set.all %}
                <div class="col-sm-4 col-lg-3">
                    <figure class="figure">
                        <a href="{% url 'book-details' book.isbn_no %}">
                            {% if book.thumbnail_exists  %}
                                <img alt="A generic square placeholder image with rounded corners in a figure."
                                 class="img-tile figure-img img-fluid rounded"
                                 src="{{MEDIA_URL}}{{book.isbn_no}}/thumbnail.png">
                            {% else %}
                                <img alt="A generic square placeholder image with rounded corners in a figure."
                                 class="img-tile figure-img img-fluid rounded"
                                 src="{% static 'img/default_book_thumbnail.png' %}">
                            {% endif %}
                        </a>
                        <figcaption class="figure-caption">{{book.title}}</figcaption>
                        <span class="book-attr-in-catalog book-attr-value-in-catalog">Author</span>
                        <span class="book-attr-value-in-catalog">{{book.author.name}}</span>
                        <span class="book-attr-in-catalog book-attr-value-in-catalog">Language</span>
                        <span class="book-attr-value-in-catalog">{{book.language.name}}</span>
                    </figure>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </section>
</main>

{% include 'footer.template.html' %}
{% include 'js.template.html' %}

</body>
</html>