{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.template.html' %}
<body>
{% include 'header.template.html' %}
{% include 'sidebar.template.html' %}

<main class="main" id="main">
    {% include 'breadcrumb.template.html' %}
    <section class="section">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 ">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Add new book</h5>

                        <!-- General Form Elements -->
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="isbn-number">ISBN Number</label>
                                <div class="col-sm-10">
                                    {% if book %}
                                        <input required id="isbn-number" name="isbn_number" class="form-control" type="number" min="1000000000000" max="9999999999999" value="{{book.isbn_number}}" />
                                    {% else %}
                                        <input required id="isbn-number" name="isbn_number" class="form-control" type="number" min="1000000000000" max="9999999999999" />
                                    {% endif %}
                                    {% if errors.isbn_number %}
                                        <p class="invalid-feedback">{{errors.isbn_number}}</p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="title">Title</label>
                                <div class="col-sm-10">
                                    {% if book %}
                                        <input required id="title" name="title" class="form-control" type="text" minlength="3" value="{{book.title}}">
                                    {% else %}
                                        <input required id="title" name="title" class="form-control" type="text" minlength="3">
                                    {% endif %}
                                    {% if errors.title %}
                                        <p class="invalid-feedback">{{errors.title}}</p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="author">Author</label>
                                <div class="col-sm-10">
                                    <select required id="author" name="author" aria-label="Default select example" class="form-select">
                                        {% for author in authors %}
                                            {% if book %}
                                                {% if book.author|stringformat:"s" == author.id|stringformat:"i" %}
                                                    <option value="{{author.id}}" selected>{{author.name}}</option>
                                                {% else %}
                                                    <option value="{{author.id}}">{{author.name}}</option>
                                                {% endif %}
                                            {% else %}
                                                <option value="{{author.id}}">{{author.name}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    {% if errors.author %}
                                        <p class="invalid-feedback">{{errors.author}}</p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="language">Language</label>
                                <div class="col-sm-10">
                                    <select required id="language" name="language" aria-label="Default select example" class="form-select">
                                        {% for language in languages %}
                                            {% if book.language|stringformat:"s" == language.id|stringformat:"i" %}
                                                <option value="{{language.id}}" selected>{{language.name}}</option>
                                            {% else %}
                                                <option value="{{language.id}}">{{language.name}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    {% if errors.language %}
                                        <p class="invalid-feedback">{{errors.language}}</p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="genre">Genre</label>
                                <div class="col-sm-10">
                                    <select required id="genre" name="genre" aria-label="select example" class="form-select" >
                                        {% for genre_obj in genres %}
                                            {% if book.genre|stringformat:"s" == genre_obj.id|stringformat:"i" %}
                                                <option value="{{genre_obj.id}}" selected>{{genre_obj.name}}</option>
                                            {% else %}
                                                <option value="{{genre_obj.id}}">{{genre_obj.name}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    {% if errors.genre %}
                                        <p class="invalid-feedback">{{errors.genre}}</p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="publisher">Publisher</label>
                                <div class="col-sm-10">
                                    <select required id="publisher" name="publisher" aria-label="Default select example" class="form-select">
                                        {% for publisher in publishers %}
                                            {% if book.publisher|stringformat:"s" == publisher.id|stringformat:"i" %}
                                                <option value="{{publisher.id}}" selected>{{publisher.name}}</option>
                                            {% else %}
                                                <option value="{{publisher.id}}">{{publisher.name}}</option>
                                            {% endif %}

                                        {% endfor %}
                                    </select>
                                    {% if errors.publisher %}
                                        <p class="invalid-feedback">{{errors.publisher}}</p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="publication_date">Publication Date</label>
                                <div class="col-sm-10">
                                    {% if book %}
                                        <input required class="form-control" id="publication_date" name="publication_date" type="date" value="{{book.publication_date}}">
                                    {% else %}
                                        <input required class="form-control" id="publication_date" name="publication_date" type="date">
                                    {% endif %}
                                    {% if errors.publication_date %}
                                        <p class="invalid-feedback">{{errors.publication_date}}</p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="pdf">PDF</label>
                                <div class="col-sm-10">
                                    <input required class="form-control" id="pdf" name="pdf" type="file" accept=".pdf">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="submit"></label>
                                <div class="col-sm-10">
                                    <button id="submit" class="btn btn-primary" type="submit">Add book</button>
                                    <button id="reset" class="btn btn-primary" type="reset">Reset</button>
                                </div>
                            </div>

                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

{% include 'footer.template.html' %}
{% include 'js.template.html' %}

<script>
    const uploadField = document.getElementById("pdf");

    uploadField.onchange = function() {
        if (this.files[0].size > 30485760) {
            alert("File is too big!");
            this.value = "";
        }
    };
</script>

</body>
</html>