{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.template.html' %}
<body>
{% include 'header.template.html' %}
{% include 'sidebar.template.html' %}

<main class="main" id="main">
    {% include 'breadcrumb.template.html' %}
    <section class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <figure class="figure">
                    <img alt="A generic square placeholder image with rounded corners in a figure."
                         class="img-preview figure-img img-fluid rounded"
                         src="https://m.media-amazon.com/images/I/91msEbTletL._SL1500_.jpg">
                </figure>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="row">
                    <h2><b>Shreemad Bhagwat Geeta</b></h2>
                </div>
                <div class="row" style="text-align:right">
                    <h4>By <i>Ved Vyas</i></h4>
                </div>
                </br>
                <div class="row">
                    <p><b>Publication:</b> <i>GeetaPress Gorakhpur</i></p>
                </div>
                <div class="row">
                    <p><b>Date Published:</b> <i>12/3/2022</i></p>
                </div>
                <div class="row">
                    <p><b>ISBN Number:</b> <i>12240-344345-33-345-34324</i></p>
                </div>
                <div class="row">
                    <p><b>Language: </b><i>Sanskrit</i></p>
                </div>
                <div class="row">
                    <p>
                        <b>Genres: </b>
                        <span class="badge bg-secondary">Religion</span>
                        <span class="badge bg-success">Motivation</span>
                    </p>
                </div>
                <div class="row">
                    <p><b>Pages: </b><i>435</i></p>
                </div>
                </br>
                <div class="row">
                    <button class="btn btn-primary">Preview</button>
                </div>
            </div>
        </div>
    </section>
</main>

{% include 'footer.template.html' %}
{% include 'js.template.html' %}

</body>
</html>