{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.template.html' %}
<body>
{% include 'header.template.html' %}
{% include 'sidebar.template.html' %}


<main class="main" id="main">
    {% include 'breadcrumb.template.html' %}
    <section class="section dashboard">
        <div class="col-lg-12 alert alert-primary alert-dismissible fade show" role="">
            Languages
            <a class="btn btn-primary" href="{% url 'language-add' %}" style="float: right">Add new</a>
        </div>
        <div class="row">
            <!-- Top Books -->
            <div class="col-12">
                <div class="card top-selling overflow-auto">
                    <div class="card-body pb-0">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th class="col-md-11" scope="col">Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if languages %}
                                    {% for language in languages %}
                                        <tr>
                                            <td><a href="{% url 'language-edit' language.id %}">{{language.name}}</a></td>
                                            <td>
                                                <form action="{% url 'language-delete' language.id %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="language-id" value="{{language.id}}" />
                                                    <button type="submit" class="btn btn-outline-danger">
                                                        <i class="bi bi-trash"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td>
                                            <i>Click on <b>Add new</b> button to add new language</i>
                                        </td>
                                    </tr>
                                {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- End Top Books -->
        </div>
    </section>
</main>

{% include 'footer.template.html' %}
{% include 'js.template.html' %}

</body>
</html>