{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.template.html' %}
<body>
{% include 'header.template.html' %}
{% include 'sidebar.template.html' %}

<main class="main" id="main">
    {% include 'breadcrumb.template.html' %}
    <section class="section">
        <div class="row">
            <div class="col-lg-10 ">
                {% if message %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{message}}
                    </div>
                {% endif %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Change Password</h5>
                        <!-- General Form Elements -->
                        <form method="post">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="current_password">Current Password</label>
                                <div class="col-sm-10">
                                    <input id="current_password" name="current_password" class="form-control" type="password">
                                    {% if errors.current_password %}
                                        <p class="invalid-feedback">{{errors.current_password}}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="new_password">New Password</label>
                                <div class="col-sm-10">
                                    <input id="new_password" name="new_password" class="form-control" type="password" >
                                    {% if errors.new_password %}
                                        <p class="invalid-feedback">{{errors.new_password}}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="new_password_1">New Password</label>
                                <div class="col-sm-10">
                                    <input id="new_password_1" name="new_password_1" class="form-control" type="password">
                                    {% if errors.new_password_1 %}
                                        <p class="invalid-feedback">{{errors.new_password_1}}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-2 col-form-label"></div>
                                <div class="col-sm-2">
                                    <input id="change" class="form-control btn btn-primary" type="submit">
                                </div>
                                <div class="col-sm-2">
                                    <input id="reset" class="form-control btn btn-danger" type="reset">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% include 'footer.template.html' %}
{% include 'js.template.html' %}

</body>
</html>